ul {
    list-style: none;;
    padding-left: 0;
}
li{
     margin: 10px;
}

input[type=text], input[type=email], input[type=tel] {
    width: 300px;
}
#shipping li label {
     width:80px;
     float: left;
     text-align: left;
}
form > div {
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  form > div > input[type="submit"], input[type="reset"] {
    text-align:center;
    width:150px;
    height:40px;      
    background-color:#fafafa;
    border:1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
  }