
#container {
    width: 520px;
    margin: 0px auto;
    border: 1px solid black;
    padding: 20px 40px;
}
ul{
    list-style: none;
}
li {
    line-height: 30px;
}
#private li label {
    width: 80px;
    float: left;
    text-align: left;
}